<form action="">
  <div class="row">
    <div class="twelve columns">
      <label for="url">Url:</label>
      <input id="url" name="url" type="text" placeholder="To where should this card link?" />
    </div>
    <div class="twelve columns">
      <label for="caption">Caption:</label>
      <textarea name="caption" id="caption" placeholder="What should the caption read?"></textarea>    
    </div>
    <div class="twelve columns">
      <label>Select an Image</label>
      <input id="image-id" type="hidden" name="image_id" />
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="pull right">
        <a class="button alert cancel-button" href="#cards">Cancel</a>
        <button type="submit" class="button">Save</button>
      </div>
    </div>
  </div>
</form>

 