<form action="">
  <div class="row">
    <div class="four columns">
      <label for="url">Url:</label>
      <input id="url" name="url" type="text" placeholder="To where should this card link?" />
      <label for="caption">Caption:</label>
      <textarea name="caption" id="caption"></textarea>    
    </div>
    <div class="eight columns">
      <label>Select an image</label>    
    </div>
  </div>
  <div class="row">
    <div class="pull right">
      <a class="button alert cancel-button">Cancel</a>
      <button type="submit" class="button">Save</button>
    </div>
  </div>
</form>

 