<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Lab</title>
  <link href="css/foundation.css" rel="stylesheet"/>
  <link href="css/app.css" rel="stylesheet"/>
</head>
<body>
  <div id="lab"></div>
  <script id="app-layout-template" type="text/html">
    <div class="container">
      <div class="banner">
        <a>Lab</a>
        <div id="navigation"></div>
      </div>
      <div id="main"></div>  
      <div id="footer">end</div>
    </div>
  </script>

  <script id="page-item-template" type="text/html">
    <a href="<%= url %>"><%= name %></a>
  </script>

  <script id="media-item-template" type="text/html">
    Media
  </script>

  <script id="media-list-empty-template" type="text/html">
    No medias
  </script>

  <script id="slide-item-template" type="text/html">
    <div class="slide" style="background-image:url('<%= image.url %>')">
      <p class="slide-caption"><%= content %></p>
    </div>
    <a href="#slides/<%= id %>/edit" class="small button">Edit</a>
  </script>

  <!-- This should be another layout -->
  <script id="slide-edit-template" type="text/html">
    <div class="row">
      <div class="six columns">
        <div class="slide" style="background-image:url('<%= image.url %>')">
          <p class="slide-caption"><%= content %></p>
        </div>
      </div>
      <div class="six columns">
        <form action="/slides/<%= id %>/edit" method="post" class="custom nice">
          <fieldset>
            <legend>Edit this slide</legend>

            <label for="caption">Caption</label>
            <input type="text" value="<%= content %>" />

            <label for="caption">Url</label>
            <input type="text" value="<%= url %>" />

            <!-- this should be a region -->
            <label for="caption">Background</label>
            <div class="image-selector">
              <ul class="images row plain">
                <li class="image-item four columns selected"><img src="uploads/kitty-1.jpg" /></li>
                <li class="image-item four columns"><img src="uploads/kitty-2.jpg" /></li>
                <li class="image-item four columns"><img src="uploads/kitty-3.jpg" /></li>
              </ul>
            </div>
            <div class="button-group">
              <a href="#slides" class="button alert">Cancel</a>
              <input type="submit" value="Save" class="button"/>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </script>

  <script id="slide-list-empty-template" type="text/html">
    No slides to display
  </script>

  <script id="deck-item-template" type="text/html">
    Deck
  </script>

  <script id="deck-list-empty-template" type="text/html">
    No decks to display
  </script>

  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.marionette.js"></script>

  <script>

  var slides = [
    { id:1, image:{ id:1, url:"/uploads/kitty-1.jpg" }, content:"I'm number 1", url: "http://suddenly-kitties.com" },
    { id:2, image:{ id:2, url:"/uploads/kitty-2.jpg" }, content:"I'm number 2", url: "" },
    { id:3, image:{ id:3, url:"/uploads/kitty-3.jpg" }, content:"I'm number 3", url: "" }
  ]

  /* App */
  var Lab = new Backbone.Marionette.Application();

  Lab.addRegions({
    root: "#lab"
  });

  Lab.vent.on("layout:rendered", function(){
    new LabRouter();
    new SlidesRouter();
    Backbone.history.start();
  });

  /* App Layout */
  var LabAppLayout = Backbone.Marionette.Layout.extend({
    template: '#app-layout-template',
    regions: {
      navigation: '#navigation', 
      main: '#main' 
    }
  });

  /* Navigation */

  var Page = Backbone.Model.extend({});
  var PageCollection = Backbone.Collection.extend({
    url: "/pages",
    model: Page
  });

  var PageItemView = Backbone.Marionette.ItemView.extend({
    tagName: "li",
    template: "#page-item-template"
  });

  var PageListView = Backbone.Marionette.CollectionView.extend({
    tagName: "ul",
    className: "page-list",
    itemView: PageItemView
  });  

  /* Media */

  var Media = Backbone.Model.extend({});
  var MediaCollection = Backbone.Collection.extend({
    url: "/media",
    model: Media
  });

  var MediaItemView = Backbone.Marionette.ItemView.extend({
    tagName: "li",
    template: "#media-item-template"
  });

  var MediaListEmptyView = Backbone.Marionette.ItemView.extend({ template: "#media-list-empty-template" });

  var MediaListView = Backbone.Marionette.CollectionView.extend({
    tagName: "ul",
    className: "media-list",
    itemView: MediaItemView,
    emptyView: MediaListEmptyView
  });  

  /* Slide */

  var Slide = Backbone.Model.extend({
    initialize:function(){
      var image = this.get('image');
      image && (this.image = new Media(image));
    }
  });
 
  var SlideCollection = Backbone.Collection.extend({
    url: "/slides",
    model: Slide
  });

  var SlideItemView = Backbone.Marionette.ItemView.extend({
    tagName: "li",
    className: "slide-item",
    template: "#slide-item-template"
  });

  var SlideListEmptyView = Backbone.Marionette.ItemView.extend({ template: "#slide-list-empty-template" });

  var SlideListView = Backbone.Marionette.CollectionView.extend({
    tagName: "ul",
    className: "plain slide-list block-grid two-up",
    itemView: SlideItemView,
    emptyView: SlideListEmptyView,
    beforeClose: function(){
      this.trigger('destroy');
    }
  });  


  var SlideEditView = Backbone.Marionette.ItemView.extend({
    tagName: "div",
    template: "#slide-edit-template",
    beforeClose: function(){
      this.trigger('destroy');
    }
  });

  /* Deck */

  var Deck = Backbone.Model.extend({});
  var DeckCollection = Backbone.Collection.extend({
    url: "/slides",
    model: Slide
  });

  var DeckItemView = Backbone.Marionette.ItemView.extend({
    tagName: "li",
    template: "#deck-item-template"
  });

  var DeckListEmptyView = Backbone.Marionette.ItemView.extend({ template: "#deck-list-empty-template" });

  var DeckListView = Backbone.Marionette.CollectionView.extend({
    tagName: "ul",
    className: "deck-list",
    itemView: DeckItemView,
    emptyView: DeckListEmptyView
  });  

  /* Controller */  
  var LabController = {
    images:function(){
      Lab.layout.main.show( new MediaListView() );     
    },
    decks:function(){
      Lab.layout.main.show( new DeckListView() );
    }
  };

  var SlidesController = {
    index:function(){
      var collection = new SlideCollection(slides);
      Lab.layout.main.show( new SlideListView({ collection:collection }) );
    },
    edit:function(id){
      var model = _.find(slides, function(s){ return s.id == id });

      window.m = new Slide(model);

      window.m.bind('destroy', function(){ alert('BOOM') } );

      Lab.layout.main.show(new SlideEditView({ model: window.m }));
    }    
  };

  /* Routers */  
  var LabRouter = Backbone.Marionette.AppRouter.extend({
    controller: LabController,
    appRoutes: {
      "images":"images",
      "decks":"decks"
    }
  })

  var SlidesRouter = Backbone.Marionette.AppRouter.extend({
    controller: SlidesController,
    appRoutes: {
      "slides":"index",
      "slides/:id/edit": "edit"
    }
  })


  /* init layout */
  Lab.addInitializer(function(){
    Lab.layout = new LabAppLayout();
    var render = Lab.layout.render();
    $('body').prepend(Lab.layout.el);

    Lab.vent.trigger('layout:rendered')
  });

  /* init nav */
  Lab.addInitializer(function(){
    Lab.pages = new PageCollection([
      { name:"Images", url:'#images', selected:true },
      { name:"Slides", url:'#slides' },
      { name:"Decks", url:'#decks' }
    ]);

    var view = new PageListView({ collection: Lab.pages });

    Lab.layout.navigation.show( view );
  });


  Lab.start();
  </script>  

</body>
</html>
