@model InitializationViewModel

<div id="app">
  <nav class="banner fixed top-bar">
    <a href="/" class="branding">FMA</a>
    <section>
      <ul id="nav" class="right">
        <li class="decks-nav"><a href="#decks">Decks</a></li>
        <li class="cards-nav"><a href="#cards">Cards</a></li>
        <li class="media-nav"><a href="#media">Media</a></li>
      </ul>
    </section>
  </nav>
  <div class="container">
    <div id="main"></div>  
  </div>
</div>
<div id="modal" class="reveal-modal">
  <div id="modal-content"></div>
  <a class="close-reveal-modal">x</a>
</div>

<script>
  var applicationData = {
    cards: @Html.Raw(Html.ConvertToJson(Model.Cards)),
    decks: @Html.Raw(Html.ConvertToJson(Model.Decks)),
    media: @Html.Raw(Html.ConvertToJson(Model.Media)),
  };
</script>