fieldset { padding:15px }
table { width:100% }

/* `Utility
/******************************/

ol.plain, ul.plain { margin:0; padding:0; list-style:none }

/* `Banner
/******************************/
.banner { height:40px; line-height:40px; margin:0 0 40px; font-size:2rem; color:#fff; background:#4D4D4D }
.banner::before, .row::after { content: ""; display: table }
  .branding { display:block; float:left; color:#e6e6e6; text-indent:10px }
  #nav { float:right }
    .nav-bar { margin:0 }

/* `Structure
/******************************/
.container { margin:0 auto; max-width:960px }

/* `Decks
/******************************/
.cell-title { width:90% }
.cell-title .delete { float:right }
.cell-active { text-align:center }

/* `Slides
/******************************/
.slide-item { position:relative }
  .slide-item .button { position:absolute; top:10px; right:25px }

.slide { overflow:hidden; position:relative; height:250px; border:solid 1px #ccc; background:no-repeat; background-size:cover}
  .slide-caption { position:absolute; bottom:10px; left:10px; right:10px; margin:0; padding:10px; background:rgba(255,255,255,.8) }
  
.image-selector { margin:0 0 20px }  
  .image-item { padding:5px !important; font-size:0; border-radius:3px }
    .image-item img { margin:0 }
    .selected { border:solid 1px #1E728C; background:#2BA6CB; }
    
    
/* `Tiny Carousel
/******************************/
.carousel { overflow:hidden }
  .carousel-wrap { overflow:hidden; position:relative }
  .carousel-item { visibility:hidden; float:left; }

.carousel-ready .carousel-item { visibility:visible }

/* `Carousel Transitions
/******************************/
.carousel-wrap {
  -webkit-transition:left 1s;
     -moz-transition:left 1s;
       -o-transition:left 1s;
          transition:left 1s
}

/* `Tiny Carousel Theme
/******************************/
.carousel-item { width:300px } /* Currently requires set (variable) width. */