/* `Carousel
/******************************/
.carousel { overflow:hidden }
  .carousel-wrap { overflow:hidden; position:relative }
  .carousel-item { visibility:hidden; float:left; }

.carousel-ready .carousel-item { visibility:visible }

/* `Carousel Transitions
/******************************/
.carousel-wrap {
  -webkit-transition:left .75s;
     -moz-transition:left .75s;
       -o-transition:left .75s;
          transition:left .75s
}