<form action="/cards/<%= id %>/edit" method="PUT">
  <div class="row">
    <div class="twelve columns">
      <label for="Url">Url:</label>
      <input id="Url" name="Url" type="text" value="<%= url %>" placeholder="To where should this card link?" />
      <label for="Content">Caption:</label>
      <textarea name="Content" id="Content" placeholder="What should the caption read?"><%= content %></textarea>    
      <input type="hidden" name="CardId" value="<%= id %>" />
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="pull right">
        <a class="button alert cancel-button" href="#cards">Cancel</a>
        <button type="submit" class="button save-button">Save</button>
      </div>
    </div>
  </div>
</form>

 