<form action="">
  <div class="row">
    <div class="twelve columns">
      <label for="Title">Title:</label>
      <input id="Title" name="Title" type="text" placeholder="Give this deck a title." />
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="StartsOn">Start date:</label>
      <input id="StartsOn" name="StartsOn" type="text" placeholder="MM/DD/YYYY" data-datepicker />
    </div>
    <div class="six columns">
      <label for="EndsOn">End date:</label>
      <input id="EndsOn" name="EndsOn" type="text" placeholder="MM/DD/YYYY" data-datepicker />
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <div class="pull right">
        <a class="button alert cancel-button" href="#decks">Cancel</a>
        <button type="submit" class="save-button button">Save</button>
      </div>
    </div>
  </div>
</form>

 