<div class="row">
  <div class="twelve columns">
    <div class="dropdown right">
      <a class="button">Settings</a>
      <div class="dropdown-container">
        <form class="custom nice">
          <div class="row">
            <div class="six columns">
              <label>Begins</label>
              <input type="text" placeholder="MM/DD/YYYY" />            
            </div>
            <div class="six columns">
              <label>Ends</label>
              <input type="text" placeholder="MM/DD/YYYY" />            
            </div>
          </div>
        </form>
      </div>
    </div>  
  </div>
</div>