<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>FMA</title>
  <link href="/content/css/app.css" rel="stylesheet"/>
  <script data-main="content/js/main" src="/content/js/require.js"></script>
</head>
<body>
  @RenderBody()
</body>
</html> 